<br>
<div class="animated fadeIn">
    <h2>{{ 'home.aboutMeHeader' | translate }}</h2>
    <div class="row">

        <div class="col-sm-6 col-md-8">
            <div class="card card-accent-primary">
              <div class="card-header">
                {{ 'home.aboutMeTitle' | translate }}
              </div>
              <div class="card-body">
                {{ 'home.aboutMeText' | translate }}
                <br><br>
                {{ 'home.cvTitle' | translate }}
                <br>
                <div class="row">

                  <div class="col-sm-6 col-md-6">
                    <a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/georgetegral-page.appspot.com/o/en.pdf?alt=media&token=48c6977d-6186-4156-b079-f23f08a16102">
                      <p style="text-align: center;">{{ 'home.cvTextEN' | translate }}</p>
                    </a>
                  </div>

                  <div class="col-sm-6 col-md-6">
                    <a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/georgetegral-page.appspot.com/o/es.pdf?alt=media&token=c63e5667-1f98-46c6-82be-256a33a6cf51">
                      <p style="text-align: center;">{{ 'home.cvTextES' | translate }}</p>
                    </a>
                  </div>

                </div>
                
                {{ 'asidebar.socialNetworks' | translate }}
                <br>
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                    <a href="//github.com/georgetegral" target="_blank" style="color:black;text-decoration: none;background-color: none; text-align: center;">
                      <p><i class="fa fa-github fa-lg"></i> Github</p>
                    </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <a href="//linkedin.com/in/georgetegral/" target="_blank" style="color:rgb(40,103,178);text-decoration: none;background-color: none; text-align: center;">
                      <p><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</p>
                    </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <a *ngIf="!checkMobile()" href="//facebook.com/georgetegral/" target="_blank" style="color:rgb(66,103,178);text-decoration: none;background-color: none; text-align: center;">
                      <p><i class="fa fa-facebook-square fa-lg"></i> Facebook</p>
                    </a>
                    <a *ngIf="checkMobile()" href="//mobile.facebook.com/georgetegral/" target="_blank" style="color:rgb(66,103,178);text-decoration: none;background-color: none; text-align: center;">
                      <p><i class="fa fa-facebook-square fa-lg"></i> Facebook</p>
                    </a>
                  </div>
                
                  <div class="col-sm-6 col-md-6">
                    <a href="//twitter.com/georgetegral" target="_blank" style="color:rgb(29,161,242);text-decoration: none;background-color: none; text-align: center;">
                      <p><i class="fa fa-twitter fa-lg"></i> Twitter</p>
                    </a>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <a href="//instagram.com/georgetegral/" target="_blank" style="color:rgb(225,48,108);text-decoration: none;background-color: none; text-align: center;">
                      <p><i class="fa fa-instagram fa-lg"></i> Instagram</p>
                    </a>
                  </div>
                </div>
                
              </div>
            </div>
        </div><!--/.col-->
          
        <div class="col-sm-6 col-md-4">
            <div class="card card-accent-primary">
              <div class="card-header">
                {{ 'home.skillsTitle' | translate }}
              </div>

              <ul>
                <li>{{ 'home.skillsLanguages' | translate }}: Java, Javascript, Typescript, HTML5, CSS3, PHP, C++, C#, Shell, SQL</li>
                <li>{{ 'home.skillsFrameworks' | translate }}: Angular, React Native, Xamarin</li>
                <li>{{ 'home.skillsTools' | translate }}: MySQL, SQLServer, Firebase, git, Github, Vim</li>
                <li>{{ 'home.skillsCloud' | translate }}: Microsoft Azure</li>
              </ul>
              <div class="col-sm-6 col-md-12">
                <p>{{ 'home.skillsPlatziText' | translate }} <a href="https://platzi.com/@georgetegral/" target="_blank">{{ 'home.skillsPlatziLink' | translate }}</a></p>
              </div>
              
            </div>
        </div><!--/.col-->

    </div><!--/.row-->
    <h2>{{ 'home.projectsHeader' | translate }}</h2>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="card card-accent-primary">
          <div class="card-header">
            <strong>{{ 'home.p1Header' | translate }}</strong>
            <div class="card-header-actions">
              <img src="https://img.icons8.com/officel/24/000000/php-logo.png">
              <img src="https://img.icons8.com/ios-filled/24/000000/mysql-logo.png">
              <img src="https://img.icons8.com/color/24/000000/javascript.png">
              <img src="https://img.icons8.com/color/24/000000/html-5.png">
              <img src="https://img.icons8.com/color/24/000000/css3.png">
            </div>
          </div>
          <div class="card-body">
            <h5>{{ 'home.pTitle' | translate }}</h5>
            <p>{{ 'home.p1Text' | translate }}</p>
            <iframe src="https://player.vimeo.com/video/384584537" height="240" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="display:block; width:100%;"></iframe>

            <br>
            <small>{{ 'home.p1Note' | translate }}</small>
            <br><br>
            <a href="//dyfomoac.com" target="_blank">
              <button type="button" class="btn btn-brand btn-sm btn-twitter mr-1" style="margin-bottom: 4px">
                <i class="fa fa-rocket"></i>
                <span>{{ 'home.live' | translate }}</span>
              </button>
            </a>
            <a href="//github.com/georgetegral/dyfomoac" target="_blank">
              <button type="button" class="btn btn-brand btn-sm btn-github mr-1" style="margin-bottom: 4px">
                <i class="fa fa-github"></i>
                <span>{{ 'home.code' | translate }}</span>
              </button>
            </a>
            <br><br>
            <h5>{{ 'home.tech' | translate }}</h5>
            <ul>
              <li>PHP</li>
              <li>MySQL</li>
              <li>JavaScript</li>
              <li>HTML5</li>
              <li>CSS3</li>
            </ul>
            <h5>{{ 'home.role' | translate }}</h5>
            <p>{{ 'home.p1Role' | translate }}</p>     
            <h5>{{ 'home.difficulties' | translate }}</h5>
            <p>{{ 'home.p1Difficulties' | translate }}</p> 
            <h5>{{ 'home.solutions' | translate }}</h5>
            <p>{{ 'home.p1Solutions' | translate }}</p> 
            <h5>{{ 'home.notableFeatures' | translate }}</h5>
            <ul>
              <li>{{ 'home.p1NF1' | translate }}</li>
              <li>{{ 'home.p1NF2' | translate }}</li>
              <li>{{ 'home.p1NF3' | translate }}</li>
              <li>{{ 'home.p1NF4' | translate }}</li>
              <li>{{ 'home.p1NF5' | translate }}</li>
            </ul>  
          </div>                
        </div>
      </div><!--/.col-->

      <div class="col-sm-6 col-md-6">
        <div class="card card-accent-primary">
          <div class="card-header">
            <strong>{{ 'home.p2Header' | translate }}</strong>
            <div class="card-header-actions">
              <img src="https://img.icons8.com/color/24/000000/react-native.png">
              <img src="https://img.icons8.com/color/24/000000/firebase.png">
              <img src="https://img.icons8.com/color/24/000000/javascript.png">
              <img src="https://img.icons8.com/color/24/000000/java-coffee-cup-logo.png">
            </div>
          </div>
          <div class="card-body">
            <h5>{{ 'home.pTitle' | translate }}</h5>
            <p>{{ 'home.p2Text' | translate }}</p>
            
            <iframe src="https://player.vimeo.com/video/384570050" frameborder="0" height="300" allow="autoplay; fullscreen" allowfullscreen style="display:block; width:100%;"></iframe>

            <br>
            <button type="button" class="btn btn-brand btn-sm btn-twitter mr-1" style="margin-bottom: 4px" disabled>
              <i class="fa fa-rocket"></i>
              <span>{{ 'home.noLive' | translate }}</span>
            </button>
            <a href="//github.com/georgetegral/profinder" target="_blank">
              <button type="button" class="btn btn-brand btn-sm btn-github mr-1" style="margin-bottom: 4px">
                <i class="fa fa-github"></i>
                <span>{{ 'home.code' | translate }}</span>
              </button>
            </a>

            <br>
            <h5>{{ 'home.tech' | translate }}</h5>
            <ul>
              <li>React Native</li>
              <li>Firebase</li>
              <li>JavaScript</li>
              <li>Java</li>
            </ul>
            <h5>{{ 'home.role' | translate }}</h5>
            <p>{{ 'home.p2Role' | translate }}</p>     
            <h5>{{ 'home.difficulties' | translate }}</h5>
            <p>{{ 'home.p2Difficulties' | translate }}</p> 
            <h5>{{ 'home.solutions' | translate }}</h5>
            <p>{{ 'home.p2Solutions' | translate }}</p> 
            <h5>{{ 'home.notableFeatures' | translate }}</h5>
            <ul>
              <li>{{ 'home.p2NF1' | translate }}</li>
              <li>{{ 'home.p2NF2' | translate }}</li>
              <li>{{ 'home.p2NF3' | translate }}</li>
              <li>{{ 'home.p2NF4' | translate }}</li>
              <li>{{ 'home.p2NF5' | translate }}</li>
            </ul>  
          </div>                
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
    
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="card card-accent-primary">
          <div class="card-header">
            <strong>{{ 'home.p3Header' | translate }}</strong>
            <div class="card-header-actions">
              <img src="https://img.icons8.com/color/24/000000/java-coffee-cup-logo.png">
              <img src="https://img.icons8.com/color/24/000000/android-os.png">
              <img src="https://img.icons8.com/color/24/000000/firebase.png">
              <img src="https://img.icons8.com/office/24/000000/xml-file.png">
            </div>
          </div>
          <div class="card-body">
            <h5>{{ 'home.pTitle' | translate }}</h5>
            <p>{{ 'home.p3Text' | translate }}</p>
            <iframe src="https://player.vimeo.com/video/384593159" frameborder="0" height="300" allow="autoplay; fullscreen" allowfullscreen style="display:block; width:100%;"></iframe>
            <br>
            <small>{{ 'home.p3Note' | translate }}</small>
            <br><br>
            <a href="//appetize.io/embed/8h3wx3g3uw3rvv6rc0c5dujktw?device=nexus5&scale=75&orientation=portrait&osVersion=8.1" target="_blank">
              <button type="button" class="btn btn-brand btn-sm btn-twitter mr-1" style="margin-bottom: 4px">
                <i class="fa fa-rocket"></i>
                <span>{{ 'home.live' | translate }}</span>
              </button>
            </a>
            <a href="//github.com/georgetegral/nonutandroid" target="_blank">
              <button type="button" class="btn btn-brand btn-sm btn-github mr-1" style="margin-bottom: 4px">
                <i class="fa fa-github"></i>
                <span>{{ 'home.code' | translate }}</span>
              </button>
            </a>
            <br><br>
            <h5>{{ 'home.tech' | translate }}</h5>
            <ul>
              <li>Java</li>
              <li>Android</li>
              <li>Firebase</li>
              <li>XML</li>
            </ul>
            <h5>{{ 'home.role' | translate }}</h5>
            <p>{{ 'home.p3Role' | translate }}</p>     
            <h5>{{ 'home.difficulties' | translate }}</h5>
            <p>{{ 'home.p3Difficulties' | translate }}</p> 
            <h5>{{ 'home.solutions' | translate }}</h5>
            <p>{{ 'home.p3Solutions' | translate }}</p> 
            <h5>{{ 'home.notableFeatures' | translate }}</h5>
            <ul>
              <li>{{ 'home.p3NF1' | translate }}</li>
              <li>{{ 'home.p3NF2' | translate }}</li>
              <li>{{ 'home.p3NF3' | translate }}</li>
              <li>{{ 'home.p3NF4' | translate }}</li>
              <li>{{ 'home.p3NF5' | translate }}</li>
            </ul>  
          </div>                
        </div>
      </div><!--/.col-->

    </div><!--/.row-->

</div>