<app-header
  [navbarBrandRouterLink]="['/home']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 150, height: 50, alt: 'georgetegral Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'georgetegral Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none"></li>
  </ul>
</app-header>

<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

  <app-aside [fixed]="true" [display]="'lg'">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="fa fa-users fa-lg"></i></ng-template>
        <div class="list-group list-group-accent">
          <div class="list-group-item bg-light text-center font-weight-bold text-muted text-uppercase small">My Social Networks</div>
          <a href="//github.com/georgetegral" target="_blank" style="color:black;text-decoration: none;background-color: none; text-align: center;">
            <div class="list-group-item list-group-item-divider">
              <p><i class="fa fa-github fa-lg"></i> Github</p>
            </div>
          </a>
          <a href="//linkedin.com/in/georgetegral/" target="_blank" style="color:rgb(40,103,178);text-decoration: none;background-color: none; text-align: center;">
            <div class="list-group-item list-group-item-divider">
              <p><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</p>
            </div>
          </a>
          <a href="//facebook.com/georgetegral/" target="_blank" style="color:rgb(66,103,178);text-decoration: none;background-color: none; text-align: center;">
            <div class="list-group-item list-group-item-divider">
              <p><i class="fa fa-facebook-square fa-lg"></i> Facebook</p>
            </div>
          </a>
          <a href="//twitter.com/georgetegral" target="_blank" style="color:rgb(29,161,242);text-decoration: none;background-color: none; text-align: center;">
            <div class="list-group-item list-group-item-divider">
              <p><i class="fa fa-twitter fa-lg"></i> Twitter</p>
            </div>
          </a>
          <a href="//instagram.com/georgetegral/" target="_blank" style="color:rgb(225,48,108);text-decoration: none;background-color: none; text-align: center;">
            <div class="list-group-item list-group-item-divider">
              <p><i class="fa fa-instagram fa-lg"></i> Instagram</p>
            </div>
          </a>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading><i class="fa fa-envelope fa-lg"></i></ng-template>
        <div class="list-group list-group-accent">
          <div class="list-group-item bg-light text-center font-weight-bold text-muted text-uppercase small">Contact</div>
          
          <form name="contactForm">
            <div class="card-body">
              <label class="form-col-form-label" for="inputSuccess1">Hit me up with a message and I'll get in touch with you as soon as posible!</label>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                  <input [formControl]="nameF" type="text" id="name" name="name" placeholder="Your name or company" class="form-control" required>
                </div>
                <small style="color:red; text-align:center;" *ngIf="nameF.invalid && nameF.touched">Name not valid.</small>
              </div>

              <div class="form-group" >
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-envelope"></i></span></div>
                  <input [formControl]="mailF" type="email" id="email" name="email" placeholder="Your email" class="form-control" required>
                </div>
                <small style="color:red; text-align:center;" *ngIf="mailF.invalid && mailF.touched">Email not valid.</small>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><b>S</b></span></div>
                  <input [formControl]="subjF" type="text" id="subject" name="subject" placeholder="Subject" class="form-control" required/>
                </div>
                <small style="color:red; text-align:center;" *ngIf="subjF.invalid && subjF.touched">Subject not valid.</small>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-paragraph"></i></span></div>
                  <textarea [formControl]="messF" id="textarea-input" name="textarea-input" rows="5" placeholder="Message" class="form-control" required></textarea>
                </div>
                <small style="color:red; text-align:center;" *ngIf="messF.invalid && messF.touched">Message not valid.</small>
              </div>

              <button class="btn btn-sm btn-primary" (click)="sendForm()" *ngIf="nameF.valid && mailF.valid && subjF.valid && messF.valid">Send Message</button>
              <button class="btn btn-sm btn-primary" (click)="sendForm()" *ngIf="nameF.invalid || mailF.invalid || subjF.invalid || messF.invalid" disabled>Send Message</button>
            </div>
          </form>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading><i class="fa fa-cog fa-lg"></i></ng-template>
        <div class="list-group list-group-accent">
          <div class="list-group-item bg-light text-center font-weight-bold text-muted text-uppercase small">Settings</div>
          <div class="aside-options">
            <small><b>&nbsp;Dark Mode</b></small>
            <label class="switch switch-label switch-pill switch-success switch-sm float-right">
              <input type="checkbox" class="switch-input">
              <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
            </label>
            <div>
              <small class="text-muted">&nbsp;Enable this for a dark user interface.</small>
            </div>
          </div>
          <div class="list-group-item bg-light text-center font-weight-bold text-muted text-uppercase small">Language</div>

          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="lang-en" data-toggle="list" role="tab" aria-controls="en">
              <i class="flag-icon flag-icon-us" title="us" id="us"></i>EN
            </a>
            <a class="list-group-item list-group-item-action" id="lang-es" data-toggle="list" role="tab" aria-controls="es">
              <i class="flag-icon flag-icon-mx" title="mx" id="mx"></i>ES
            </a>
          </div>

        </div>
      </tab>
    </tabset>
  </app-aside>
</div>

<app-footer>
  <span>Jorge García - {{year}}</span>
  <span class="ml-auto"> With love from <i class="flag-icon flag-icon-mx" title="mx" id="mx"></i></span>
</app-footer>