<br>
<div class="animated fadeIn">
    <h2>Módulo de administrador</h2>
    <div class="row justify-content-center" *ngIf="!loggedIn">
        <div class="col-sm-6 col-md-6">
            <div class="card">
              <div class="card-header">
                Inicia sesión
              </div>
              <div class="card-body">
                <form name="contactForm">
                  <input [formControl]="passAdmin" type="password" id="passAdmin" name="passAdmin" class="form-control" required>
                  <br>
                  <button class="btn btn-sm btn-primary" *ngIf="passAdmin.valid" (click)="login()" >Iniciar sesión</button>
                  <button class="btn btn-sm btn-primary" *ngIf="passAdmin.invalid" disabled>Iniciar sesión</button>
                </form>
              </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->

    <div class="row justify-content-center" *ngIf="loggedIn">
      <div class="col-sm-6 col-md-6">
          <div class="card">
            <div class="card-header">
              Cierra sesión
            </div>
            <div class="card-body">
              <button class="btn btn-sm btn-primary" (click)="logout()" >Cerrar sesión</button>
            </div>
          </div>
        </div><!--/.col-->
    </div><!--/.row-->

  <h2 *ngIf="loggedIn">Sesión iniciada</h2>
  <h2 *ngIf="!loggedIn">Sesión cerrada</h2>

  <div class="row justify-content-center" *ngIf="loggedIn">
    <div class="col-sm-6 col-md-8">
        <div class="card">
          <div class="card-header">
            Mensajes:
          </div>
          <div class="card-body">
            
            <div class="card">
              <div class="card-header">
                Mensajes:
              </div>
              <div class="card-body">
                
              </div>
            </div>

          </div>
        </div>
      </div><!--/.col-->
  </div><!--/.row-->
        
</div>

<ng-template #brainConfirmation>
  <div class="modal-header">
      <h4 class="modal-title pull-left">{{ 'braintegral.modalTitle' | translate }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefB.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    {{ 'braintegral.modalText' | translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modalRefB.hide()">Ok</button>
  </div>
</ng-template>