<br>
<div class="animated fadeIn">
    <h2>{{ 'home.aboutMeHeader' | translate }}</h2>
    <div class="row">

        <div class="col-sm-6 col-md-8">
            <div class="card">
              <div class="card-header">
                {{ 'home.aboutMeTitle' | translate }}
              </div>
              <div class="card-body">
                {{ 'home.aboutMeText' | translate }}
              </div>
            </div>
        </div><!--/.col-->
          
        <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-header">
                {{ 'home.cvTitle' | translate }}
              </div>
              <div class="card-body">
                {{ 'home.cvText' | translate }}
              </div>
            </div>
        </div><!--/.col-->

    </div><!--/.row-->

    <div class="row">

        <div class="col-sm-6 col-md-6">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-check"></i>Card with icon
              </div>
              <div class="card-body">
      3          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              </div>
            </div>
        </div><!--/.col-->

        <div class="col-sm-6 col-md-6">
            <div class="card">
              <div class="card-header">
                Card with switch
                <div class="card-header-actions" style="height: 21px;" >
                  <label class="switch switch-sm switch-label switch-info" >
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                  </label>
                </div>
              </div>
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              </div>
            </div>
        </div><!--/.col-->

        <div class="col-sm-6 col-md-6">
            <div class="card">
              <div class="card-header">
                Card with label
                <div class="card-header-actions">
                  <span class="badge badge-success">Success</span>
                </div>
              </div>
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              </div>
            </div>
        </div><!--/.col-->

        <div class="col-sm-6 col-md-6">
            <div class="card">
              <div class="card-header">
                Card with label
                <div class="card-header-actions">
                  <span class="badge badge-success">Success</span>
                </div>
              </div>
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              </div>
            </div>
        </div><!--/.col-->

    </div><!--/.row-->
        
</div>